* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#e9e9e9;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:white;
  padding: 0.7rem 4rem;
  position: absolute;
  width: 100%;
 
}
.topnav .search-container {
  display: flex;
  align-items: center;
}

.topnav input[type="text"] {
  padding: 0.3rem 6rem;
  font-size: 18px;
  border: none;
  border-radius: 15px 0 0 15px;
  background-color: #f4f4f4b4;
}

.topnav .search-container button {
  padding: 0.3rem 3rem;
  font-size: 18px;
  border: none;
  border-radius: 0 15px 15px 0;
  background: #ddd;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-right button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-right button svg {
  width: 1.5rem;
  height: 1.7rem;
  fill: #03050d;
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background: #e53e3e;
  color: #fff;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 50%;
}
.navsec{
  display: flex;
  align-items: center;
  padding: 1rem 4.5rem;
  justify-content: space-between;
  background-color:white;
  border-bottom: 1px solid #e2e8f0;
  
  width: 100%;
 
}
    .nav-left {
      display:flex;
      
      gap: 3rem;    
    }
    
    .dropdown > button {
      background: #f3f4f6;
      border: none;
      padding: 0.5rem 2rem;
      display: flex;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 50px;
      position: relative;
      
      
    }
    .dropdown > button svg {
      width: 0.75rem;
      height: 0.75rem;
      fill: #4a5568;
    }
    .dropdown-menu {
      position:absolute;
      top: 110%;
      left: 0;
      background: #fff;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      border-radius: 4px;
      overflow: hidden;
      display: none;
      min-width: 200px;
      z-index: 10;
    }
    .dropdown-menu a {
      display: block;
      padding: 0.5rem 1rem;
      color: #2d3748;
      text-decoration: none;
    }
    .dropdown-menu a:hover {
      background: #f7fafc;
    }
    .nav-links {
      display: flex;
      align-items: center;
      gap:  3rem;
      margin-top: 45px;
      
    }
    .nav-links a {
      text-decoration: none;
      color: #4a5568;
      padding: 0.5rem;
      transition: color 0.2s;
    }
    .nav-links a:hover {
      color: #2b6cb0;
    }